<h1>
  Challenges Apps Integration Testing
</h1>

<!--Enlaces-->
<nav>
  <ul>
    <li>
      <a routerLink="/challenge-1-component" routerLinkActive="active" ariaCurrentWhenActive="page">
        Challenge 1 - Mean & Standard dev.
      </a>
    </li>
    <li>
      <a routerLink="/challenge-3-component" routerLinkActive="active" ariaCurrentWhenActive="page">
        Challenge 3 - Linear regression
      </a>
    </li>
    <li>
      <a routerLink="/challenge-5-component" routerLinkActive="active" ariaCurrentWhenActive="page">
        Challenge 5 - Simpson
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
